# Compiled Python Bytecode
*.pyc
*.pyo

# OS & Temp Files
.DS_Store
.DS_Store?
._*
.Trashes
*~

# Database Files
*.sqlite

# Virtual Environments
sandbox*/
venv*/
.env

# flask
__pycache__

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
