{% extends "layout.html" %}
{% block body %}
<div style="height:100vh;">
    <h1 class="center-align">About Airgantt:</h1>
    <p class="">
        This app uses <a href="https://airtable.com/invite/r/9HSFJ4pA">Airtable</a> data to create a gantt chart for your projects.<br />
        Just use this <a href="https://airtable.com/invite/l?inviteId=invZUEQO3yeML2Cgr&inviteToken=2f3f51b070650e92fb4a6d5d01aafda0">base</a> as a starting point.
        <a href={{ url_for('index') }} class="center-align">home</a>
    </p>
</div>
{% endblock %}
