<nav class="navbar" style="box-shadow: rgba(0, 0, 0, 0.027) 0px 2px 0px 0px;">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="{{url_for('static', filename='img/airgantt.png')}}"/>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                {% if project %}
                {{ project }}
                {% else %}
                Airgantt
                {% endif %}
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control"><a class="button" href="/">Home</a></p>
                    <p class="control"><a class="button is-success" href="/new">New</a></p>
                </div>
            </div>
        </div>
    </div>
</nav>
